/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}
.logo{
  float: right;
  width: 80px;/*ojo cambio*/
  height: 80px;
}
header{
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}
.menu{
  padding: 14px 70px;
  overflow: auto;
}
#home{
  background-image: url('../assets/images/bg-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}
#home .container{
  color: white;
  padding: 70px;
}
.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}
#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 70px;/*ojo, cambio*/
}
.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}
.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}
footer{
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}
#works{
  text-align: center;
  padding: 70px 70px;
}
.row{
  padding: 15px;
}
.imgs{
  width: 50%;
  border: 10px solid white;
  cursor: pointer;
}
.col-4{
  /*(4/12)*100*/
  width: 31.333333%;
  display: inline-block;
}
.col-4 p{
    font-weight: bold;
}
#container-modal{
  background-color: rgba(46, 204, 113, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.modal-ghost{
  display: none;
}
#container-modal .modal-imgs{
  width: 10%;
  margin: 0 auto;
}
.modal-close{
  position: absolute;
  top: 55px;
  right: 335px;
  z-index: 3;
  cursor: pointer;
}
.close-button{
  width: 25px;
}
#im-uno{
  background-image: url('../assets/images/img-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-uno{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-dos{
  background-image: url('../assets/images/img-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-dos{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-tres{
  background-image: url('../assets/images/img-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-tres{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-cuatro{
  background-image: url('../assets/images/img-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-cuatro{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-cinco{
  background-image: url('../assets/images/img-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-cinco{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-seis{
  background-image: url('../assets/images/img-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-seis{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-siete{
  background-image: url('../assets/images/img-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-siete{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-ocho{
  background-image: url('../assets/images/img-.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-ocho{
  position: absolute;
  top: 41px;
  left: 343px;
}
#im-nueve{
  background-image: url('../assets/images/img-9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 51%;
  height: 90%;
  border: 7px solid white;
}
#im-nueve{
  position: absolute;
  top: 41px;
  left: 343px;
}